@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #292d32;
}

nav {
  display: flex;
  /* background-color: #292d32; */
  background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  align-items: center;
}

nav .btn-join {
  width: 150px;
  height: 28px;
  border-radius: 12px;
  border: 1px solid #474c54;
  box-shadow: rgba(71, 76, 84, 1);
  margin-top: 17px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: 52px;
  background-color: #292d32;
}

nav .btn-join p {
  color: #d7d7d7;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  letter-spacing: 10%;
  text-transform: uppercase;
  padding: 8px;
}

nav img {
  width: 110px;
  height: 35px;
  margin-top: 13px;
  margin-bottom: 18px;
  margin-left: 86px;
}

.nav-item {
  margin-left: 117px;
  padding: 15px;
}

.nav-item ul {
  display: flex;
}

.nav-item ul li {
  margin-left: 60px;
  list-style: none;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  color: #d7d7d7;
  cursor: pointer;
}

.content {
  margin: 20px 10px;
  padding: 70px 0;
  border: 3px solid rgb(7, 7, 7);
  text-align: center;
}

.container {
  /* background-color: #292d32; */
  background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  /* background: #292d32; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .text1 {
  color: #d7d7d7;
  margin-left: 27px;
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.join-us {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  margin-right: 91px;
}

.container .join-us img {
  margin-left: 12px;
  width: 30px;
  height: 30px;
}

.container .join-us .text2 {
  width: 52px;
  height: 12px;
  color: #d7d7d7;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 10%;
}

/* hero */

.hero {
  display: flex;
  width: 1279px;
  height: 646px;
  margin: 45px 64px 29px 97px;
}

.hero .description {
  margin-top: 216px;
}
.hero .description h3 {
  width: 569px;
  height: 24px;
  color: #d7d7d7;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 8%;
  text-transform: uppercase;
}

.hero .description p {
  height: 96px;
  width: 493px;
  color: #d7d7d7;
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.hero img {
  width: 646px;
  height: 646px;
  margin-right: 64px;
}
